<p appHighlight>已选择用户:{{selectInsurant.name}}</p>

<p>已选择用户:{{selectInsurant.name}}</p>
<div class="table-controls">
    <div class="search-area" style="height:60px;">
<input style="float:left;margin-top:14px;" 
  [(ngModel)]="searchText"/>
<button style="float:left;" (click)="search()">搜索</button>

</div>
<button (click)="sortByAsccending()">正序</button>
<button (click)="sortByDesccending()">倒序</button>
<button (click)="sortByRadom()">随机</button>
<button (click)="deleteLast()">删除</button>
<button routerLink="/insurant/edit/new">新增</button>
<button (click)="testTempInsurants()">TEST</button>
</div>
<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-1" (click)="sortByAsccending('planId')">ID </div>
      <div class="col-2" (click)="sortByAsccending('planName')">保险名称 </div>
      <div class="col-2" (click)="sortByAsccending('name')">被保险者名 </div>
      <div class="col-1" (click)="sortByAsccending('sex')">性别 </div>
      <div class="col-2" (click)="sortByAsccending('age')">年龄 </div>
      <div class="col-1" (click)="sortByDesccending('period')">保险期间 </div>

      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let insurant of searchResult">
  <app-insurant-item [insurant]="insurant" (insurantClick)="selectInsurant = $event"></app-insurant-item>
</div>
<div class="row table-row" *ngFor="let insurant of insurants">
  <app-insurant-item [insurant]="insurant" (insurantClick)="selectInsurant = $event"></app-insurant-item>
</div>
